In [3]:
#установка библиотеки
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.6)

In [5]:
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px
import warnings

In [4]:
#проверка подключения PostgreSQL
import psycopg2
import pandas as pd

DB_HOST = '87.242.126.7'
DB_USER = 'student0'
DB_USER_PASSWORD = 'student0_password'
DB_NAME = 'sql_ex_for_student0'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)
conn.autocommit = True
cur = conn.cursor()

In [7]:
conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)
conn.autocommit = True
cur = conn.cursor()
#для create
cur.execute("""
create view distribution_by_type as
select distinct maker, type, dol from (select *, row_number (*) over (),
count(*) over (partition by maker, type) as rn,
count(*) over () as aa, 100 * (count(*) over (partition by maker, type)) / (count(*) over ()):: numeric as dol
from product) qq;;
""")

In [9]:
df

      maker     type        dol
0         B   Laptop   5.555556
1         D  Printer  11.111111
2         E  Printer   5.555556
3         A   Laptop  11.111111
4         E       PC  16.666667
5         B       PC   5.555556
6         A       PC  11.111111
7         C   Laptop   5.555556
8  maker_s0       PC  11.111111
9         A  Printer  16.666667

In [10]:
#task3 (lesson5)
"""Компьютерная фирма: Сделать на базе предыдущенр view график - круговую диаграмму. Пример https://plotly.com/python/histograms/
"""
request = """
select *
from distribution_by_type
"""
df = pd.read_sql_query(request, conn)
fig = px.pie(df, values = df['dol'].to_list(), names=df['type'].to_list(), title='')
fig.show()

<ipython-input-10-6f01d5f3985b>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(request, conn)

In [ ]:
conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)
conn.autocommit = True
cur = conn.cursor()
#для create
cur.execute("""
select *
""")

In [ ]:
a#task6 (lesson5)
"""Компьютерная фирма: Сделать график со средней ценой по всем товарам по каждому производителю (X: maker, Y: avg_price) на базе view all_products_050521"""

request = """
select *
from all_products_050521
"""
df = pd.read_sql_query(request, conn)
fig = px.bar(x=df['maker'].to_list(), y=df['modified_price'].to_list(), labels={'x':'maker', 'y':'avg_price'})
fig.show()

<ipython-input-3-1ff2910afd00>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""

  model   price
0  1298   700.0
1  1321   970.0
2  1750  1200.0
3  1298  1050.0
4  1752  1150.0
5  1298   950.0

In [ ]:
# для select
pd.read_sql_query("""
select *
from pc_copy_view_jupyter
;""", conn)

<ipython-input-7-6b99ad144907>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""

    code model  speed  ram    hd   cd  price
0    999  1232    500   64   5.0  12x  600.0
1    999  1121    750  128  14.0  40x  850.0
2    999  1233    500   64   5.0  12x  600.0
3    999  1121    600  128  14.0  40x  850.0
4    999  1121    600  128   8.0  40x  850.0
5    999  1233    750  128  20.0  50x  950.0
6    999  1232    500   32  10.0  12x  400.0
7    999  1232    450   64   8.0  24x  350.0
8    999  1232    450   32  10.0  24x  350.0
9    999  1260    500   32  10.0  12x  350.0
10   999  1233    900  128  40.0  40x  980.0
11   999  1233    800  128  20.0  50x  970.0