Функции

Задание 1. Напишите функцию print_twice(). Измените код функции do_twice() так, чтобы она принимала два аргумента, объект функции и значение и дважды вызывала функцию, передавая значение в качестве аргумента.
Используйте модифицированную версию функции do_twice(), чтобы дважды вызвать функцию print_twice(), передав в качестве аргумента значение 'спам'.
Определите новую функцию do_four(), которая принимает объект функции и значение и вызывает функцию четыре раза, передавая значение в качестве параметра.
В теле этой функции должно быть только две инструкции, а не четыре.

In [1]:
def do_twice(f,g):
    f(g) 
    f(g)

def print_twice(s):
    print(s)
    print(s)

do_twice(print_twice,'spam')

def do_four(do_twice,g):
    do_twice(g)
    do_twice(g)

def do_twice(func, arg):
    """Runs a function twice.

    func: function object
    arg: argument passed to the function
    """
    func(arg)
    func(arg)


def print_twice(arg):
    """Prints the argument twice.

    arg: anything printable
    """
    print(arg)
    print(arg)


def do_four(func, arg):
    """Runs a function four times.

    func: function object
    arg: argument passed to the function
    """
    do_twice(func, arg)
    do_twice(func, arg)


do_twice(print_twice, 'spam')
print('')

do_four(print_twice, 'spam')

spam
spam
spam
spam
spam
spam
spam
spam

spam
spam
spam
spam
spam
spam
spam
spam

In [2]:
def do_twice(f, v):
    f(v)
    f(v)

def print_twice(bruce):
    print(bruce)
    print(bruce)

do_twice(print_twice, 'spam')

def do_four(f, v):
    do_twice(f, v)
    do_twice(f, v)
    
do_four(print_twice, 'spam')

spam
spam
spam
spam
spam
spam
spam
spam
spam
spam
spam
spam

Задание 2. Напишите функцию right_justify(), которая принимает строку s в качестве параметра и печатает строку с достаточным количеством пробелов в начале строки, так чтобы последняя буква строки находилась в столбце 70 на экране.

In [5]:
def right_justify(s):
    sub = len(s)
    new_s = ' ' * (70 - sub) + s
    print(new_s)

right_justify('Allen')

                                                                 Allen

In [1]:
def right_justify(s):
    num_of_spaces = 70 - len(s)
    result = num_of_spaces * " " + s
    print(result)

right_justify("monty")

                                                                 monty

Задание 3. Напишите функцию, которая рисует сетку следующим образом. Напишите функцию, которая рисует похожую сетку с четырьмя строками и четырьмя столбцами.

In [17]:
def print_setka():
    print('+', '– ' * 4, '+', '– ' * 4, '+')
    print('|', '  ' * 4, '|', '  ' * 4, '|')
    print('|', '  ' * 4, '|', '  ' * 4, '|')
    print('|', '  ' * 4, '|', '  ' * 4, '|')
    print('|', '  ' * 4, '|', '  ' * 4, '|')
    print('+', '– ' * 4, '+', '– ' * 4, '+')
    print('|', '  ' * 4, '|', '  ' * 4, '|')
    print('|', '  ' * 4, '|', '  ' * 4, '|')
    print('|', '  ' * 4, '|', '  ' * 4, '|')
    print('|', '  ' * 4, '|', '  ' * 4, '|')
    print('+', '– ' * 4, '+', '– ' * 4, '+')
print_setka()

+ – – – –  + – – – –  +
|          |          |
|          |          |
|          |          |
|          |          |
+ – – – –  + – – – –  +
|          |          |
|          |          |
|          |          |
|          |          |
+ – – – –  + – – – –  +

Условия и рекурсия

Задание 1.
Модуль time предоставляет функцию, также называемую time(), которая возвращает текущее время по Гринвичу в формате «эпохи» – отсчета от произвольно выбранного момента. В системах UNIX эпоха началась 1 января 1970 года.
import time
time.time()
Напишите скрипт, который считывает текущее время и преобразует его в суточное время в часах, минутах и секундах, а также отображает количество дней, прошедших с начала эпохи.

In [4]:
import time

secs = time.time()

def times():
  mins = secs / 60
  hours = mins / 60
  days = hours/24
  print ('The minues:',mins,'The hours:' ,hours, 'The days:',days)

times()
print ('The seconds:', secs)

The minues: 28151724.813264843 The hours: 469195.41355441406 The days: 19549.808898100586
The seconds: 1689103488.7958906

In [3]:
import time
last_epoch = time.time()

def current_time(since_epoch):
    """Calculates current hour, minute, and second since given epoch;
    since epoch - in seconds.
    """
    hours_since = since_epoch // 60 // 60
    current_hour = hours_since - (hours_since // 24) * 24
    minutes_since = since_epoch // 60
    current_minute = minutes_since - (minutes_since // 60) * 60
    second_since = since_epoch // 1  # to round down seconds
    current_second = second_since - (second_since // 60) * 60
    return current_hour, current_minute, current_second

def days_since_epoch(epoch):
    """Returns number of days since given epoch;
    epoch - in seconds.
    """
    days = epoch // 60 // 60 // 24
    return days


print(current_time(last_epoch))
print(days_since_epoch(last_epoch))

(19.0, 24.0, 44.0)
19549.0

Задание 2.
Теорема Ферма гласит, что для любого натурального числа n > 2 уравнение: a**n + b**n = c**n не имеет решений в целых ненулевых числах a, b, c. 
1.Напишите функцию check_fermat(), которая принимает четыре параметра – a, b, c и n – и проверяет, выполняется ли теорема Ферма. Если n больше 2 и a**n + b**n = c**n, в программе должно быть напечатано: «Не может быть, Ферма ошибся!» В противном случае программа должна вывести: «Нет, это не работает». 
2.Напишите функцию, которая предлагает пользователю ввести значения для переменных a, b, c и n, преобразует их в целые числа и использует функцию check_fermat(), чтобы проверить, нарушают ли они теорему Ферма.

In [6]:
def check_fermat(a, b, c, n):
    if n > 2 and a**n + b**n == c**n:
        print("Holy smokes, Fermat was wrong!")
    else:
        print("No, that doesn't work.")

def prompting():
    a = input("Type your value of a: ")
    b = input("Type your value of b: ")
    c = input("Type your value of c: ")
    n = input("Type your value of n: ")
    
    check_fermat(int(a), int(b), int(c), int(n))

prompting()

Type your value of a: 1
Type your value of b: 2
Type your value of c: 3
Type your value of n: 4
No, that doesn't work.

Задание 4.
1.Каков результат выполнения следующей программы? Нарисуйте поэтапное состояние программы до момента, когда она выводит результат.
def recurse(n, s): 
    if n == 0: 
        print(s) 
    else: 
        recurse(n-1, n+s) 

recurse(3, 0) 
2.Что произойдет, если вызвать эту функцию следующим образом: recurse(-1, 0)? 
3.Напишите строку документации, которая объясняет, что нужно знать для того, чтобы использовать эту функцию.

In [8]:
def recurse(n, s):
    '''Recursive function for getting and printing the value of s;
    n - positive integer;
    s - integer.
    '''
    if n == 0:
        print(s)
    else:
        recurse(n-1, n+s)
        
recurse(3, 0)

6

Задание 5.
Если у вас три отрезка, из них, возможно, получится составить треугольник. Например, если один из отрезков имеет длину 12 см, а два других – по 1 см, вы не сможете сделать так, чтобы короткие отрезки пересеклись. Если какая-либо из трех длин больше, чем сумма двух других, вы не сможете образовать треугольник. В противном случае сможете.
Напишите функцию is_triangle(), которая принимает три целых числа в качестве аргументов и выводит либо «Да», либо «Нет» в зависимости от того, возможно ли образовать треугольник из отрезков с заданной длиной.
Напишите функцию, которая предлагает пользователю ввести три длины отрезка, преобразует их в целые числа и использует функцию is_triangle(), чтобы проверить, могут ли отрезки заданной длины образовать треугольник.

In [9]:
def triangle(a, b, c):
    if a + b > c and a + c > b and b + c > a:
        print('Это треугольник')
    else:
        print('Это не треугольник')

a = int(input())
b = int(input())
c = int(input())
print(triangle(a, b, c))

1
2
3
Это не треугольник
None

In [10]:
def is_triangle(a, b, c):
    if a > b + c:
        print("No")
    elif b > a + c:
        print("No")
    elif c > a + b:
        print("No")
    else:
        print("Yes")

def prompting():
    a = input("Type length of side a: ")
    b = input("Type length of side b: ")
    c = input("Type length of side c: ")
    
    is_triangle(int(a), int(b), int(c))
    
prompting()

Type length of side a: 2
Type length of side b: 4
Type length of side c: 6
Yes

Переменные, выражения и инструкции

Задание 1. Объем сферы с радиусом r составляет 4/3 * Pi * r**3. Каков объем сферы с радиусом 5?

In [11]:
print (((4/3.0) * 3.14) * 5**3)

523.3333333333334

In [14]:
import math
4/3*math.pi*5**3

523.5987755982989

Задание 2. Предположим, что книга стоит 249 рублей 50 копеек, при этом книжный магазин предоставляет скидку в 40%. Стоимость доставки составляет 100 рублей за первый экземпляр и 49 рублей 50 копеек за каждый дополнительный. В какую сумму обойдется закупка 60 экземпляров?

In [16]:
price = 249.5
discount = 0.4
travel_1 = 100
travel_2 = 49.5
all_book = 60
total = price * travel_1 * discount + (all_book -1) * price * travel_2 * discount
print(total)

301445.9

Задание 3. Если я вышел из дома в 6:52 утра и пробежал 1 км в легком темпе (1 км за 8 мин. 15 сек.), потом 3 км в среднем темпе (1 км за 7 мин. 12 сек.) и 1 км в легком темпе снова, то во сколько я вернусь домой позавтракать?

In [23]:
timedelta(minutes=8, seconds=15)

datetime.timedelta(seconds=495)

In [44]:
import datetime
from datetime import timedelta
time_start = timedelta(hours=6,minutes=52)
print(time_start)
print(timedelta(minutes=8, seconds=15))
print(timedelta(minutes=7 * 3, seconds=15 * 3))
time_end = time_start + 2 * timedelta(minutes=8, seconds=15) + 3 * timedelta(minutes=7, seconds=12) 
print('я вернусь домой позавтракать', time_end)

6:52:00
0:08:15
0:21:45
я вернусь домой позавтракать 7:30:06

Задание 3. 
Добавьте условия в задачи из первого раздела. Скидка на книги за сумму чека, скидка на доставку за количество экземпляров. Скорость бега в зависимости от пройденного расстояния.

In [50]:
price = 249.5
discount = 0.4
travel_1 = 100
travel_2 = 49.5
all_book = 60
total = price * travel_1 * discount + (all_book -1) * price * travel_2 * discount
discount_price = 0.3 # Скидка на книги за сумму чека болбше 1000 руб
discount_travel = 0.2 # скидка на доставку за количество экземпляров больше 10 шт.
print(total)

if total >= 1000:
            total = total - total * discount_price
if all_book >= 10:
            total = total - total * discount_price * discount_travel
    
print(total)

301445.9
198351.4022

In [57]:
time_1 = timedelta(minutes=8, seconds=15)
time_2 = timedelta(minutes=7 * 3, seconds=15 * 3)
total_seconds_1 = time_1.total_seconds()
total_seconds_2 = time_2.total_seconds()
print(total_seconds_1)
print(total_seconds_2)
print('Скорость бега в легком темпе, м/с', 1000 / total_seconds_1)
print('Скорость бега в среднем темпе, м/с', 3000 / total_seconds_2)

495.0
1305.0
Скорость бега в легком темпе, м/с 2.0202020202020203
Скорость бега в среднем темпе, м/с 2.2988505747126435